@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;700&display=swap');

body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    // Weights: 100, 400, 600, 700
}

h1 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

p {
    margin: 0;
}