.footer {
    background: $quaternary;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;

    @include breakpoint(sm){
        margin: 0 -20px;
        width: calc(100% + 40px);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex-grow: 1;

        &-item-title {
            font-weight: 700;
            font-size: 1.2em;
        }
    }
}