.main-header {

    .main-nav {

        &__list {
            display: flex;
            align-items: center;
            gap: 0 20px;
        }
        
        &__logo {
            width: 80px;
        }

        &__item {

        }
    }
}