.main-header {
    margin-bottom: 40px;

    .main-nav {
        &__list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0 40px;
        }

        &__logo {
            width: 80px;
        }

        &__item {
            @include breakpoint(sm) {
                flex-grow: 1;
                text-align: center;
            }

            &:first-child {
                margin-right: auto;

                @include breakpoint(sm) {
                    display: block;
                    width: 100%;
                    margin-bottom: 20px;
                }

                .main-nav__link {
                    display: inline-block;
                }
            }
        }

        &__link {
            transition: all ease-in-out 0.1s;

            &-active {
                color: $primary;
            }

            &:hover {
                font-weight: 700;
                color: $primary;
            }
        }
    }

    &__mobile-spacer {
        display: none;

        @include breakpoint(sm) {
            display: inline-block;
            margin: 0 -20px;
            width: calc(100% + 40px);
            border-bottom: solid 2px $secondary;
        }
    }
}