.search-block {

    .search-bar {
        display: flex;
        background-color: $secondary;
        border-radius: 20px;
        padding: 2px 20px;
        margin: 20px 0 30px 0;
        max-width: 30%;
        height: 50px;
        position: relative;
        overflow: hidden;

        &__icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            margin-right: 20px;
        }

        &__input {
            width: 100%;
        }

        &__button {
            border: none;
            background-color: $primary;
            height: 100%;
            color: #fff;
            font-weight: 600;
            position: absolute;
            right: 0;
            padding: 0 20px;
            margin: -2px 0;
            font-size: 0.9rem;
            cursor: pointer;
        }
    }

    .search-filters {
        display: flex;
        gap: 0 20px;
        align-items: center;
        font-weight: 700;
        font-size: 0.8rem;
        margin-bottom: 30px;

        &__item {
            position: relative;
            border: solid 2px $secondary;
            padding: 10px 15px 10px 45px;
            border-radius: 30px;
            transition: all ease-in-out 0.2s;
            cursor: pointer;

            &:hover {
                background: $tertiary;
                color: #fff;
                border: solid 2px $tertiary;
            }

            &__icon-container {
                display: flex;
                position: absolute;
                top: 0;
                left: -2px;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background: $tertiary;
                fill: $primary;
                width: 35px;
                height: 35px;
                
                .icon {
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }

    .search-information {
        display: flex;
        align-items: center;

        &__icon-container {
            margin-right: 10px;
            border: solid 2px $secondary;
            border-radius: 100%;
            fill: $primary;
            height: 25px;
            width: 25px;

            .icon {
                height: 10px;
            }
        }
    }
}