.homepage {
    .accomodation-result {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 40px;

        @include breakpoint(md) {
            flex-wrap: wrap;
        }
    }

    .accomodation {
        background: $quaternary;
        border-radius: 20px;
        width: 70%;
        padding: 30px;

        @include breakpoint(md) {
            width: 100%;
        }

        @include breakpoint(sm) {
            margin: 0 -20px;
            width: calc(100% + 40px);
        }

        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
        }
    }

    .popular-accomodation {
        background: $quaternary;
        border-radius: 20px;
        width: 30%;
        padding: 30px;
        height: fit-content;

        @include breakpoint(md) {
            width: 100%;
        }

        &__container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 30px;

            @include breakpoint(md) {
                flex-direction: row;
            }

            @include breakpoint(sm) {
                flex-direction: column;
            }
        }
    }

    .activities-result {
        margin: 60px 0;

        .activities-container {
            display: flex;
            justify-content: space-around;
            gap: 30px;

            @include breakpoint(sm) {
                flex-wrap: wrap;
            }
        }
    }
}